@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

header {
    text-align: center;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

.container-sect {
    text-align: left;
    width: 50vw;
    border-width: 2px;
    border: gray;
    border-style: ridge;
    border-radius: 5px;
    padding: 2px;
    margin-left: 5px;
    margin: auto;
    margin-top: 100px;
    font-size: 18px;
}

.container {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    width: 50vw;
    font-size: 18px;
    border: gray;
    border-width: 2px;
    border-style: ridge;
    padding: 5px;
    border-radius: 5px;

}

h2 {
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
